{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <aside class="flex-ns flex-wrap justify-around mt5">
      {{ range .Pages.ByParam "order" }}
        {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
        <div class="relative w-100 w-30-l mb4 bg-white cover h5" style="background: url({{ $featured_image }}) center no-repeat">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
