$padding-amount: 20px;
$margin-amount: 2px;
$min-height-basis: 75px;

@mixin film-item-width($percentage) {
    width: calc(#{$percentage} - (#{$padding-amount*2} + #{$margin-amount*2}));

    .film-item-overlay {
        width: $percentage*0.8;
    }
}

#film-list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .film-item {
        @media screen and (max-width: $max-break-size) {
            @include film-item-width(100%);

            min-height: $min-height-basis*2;

            p {
                display: none;
            }
        }

        @media screen and (min-width: $break-size) {
            @include film-item-width(50%);
            min-height: $min-height-basis*3;
        }

        @media screen and (min-width: ($break-size*1.5)){
            @include film-item-width(33.3%);
            min-height: $min-height-basis*4;
        }

        transition: background-image 1s ease-in;
        animation: fadein 1s;

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        display: inline-flex;
        flex-grow: 1;
        flex-shrink: 1;

        flex-direction: column;
        justify-content: center;

        padding: $padding-amount;
        margin-left: $margin-amount;
        margin-right: $margin-amount;

        color: white;

        .film-item-overlay {
            position: absolute;
        }
    }
}

#filmpage-body {
    display: flex;
    flex-direction: column;

    .back-button {
        color: white;
        text-decoration: none;

        &.mobile {
            @media screen and (max-width: $max-break-size) {
                position: relative;
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                font-size: 28px;

                span {
                    margin-right: 40px;
                }
            }

            @media screen and (min-width: $break-size) {
                display: none;
            }
        }

        &.desktop {
            @media screen and (max-width: $max-break-size) {
                display: none;
            }

            @media screen and (min-width: $break-size) {
                text-align: center;
            }
        }
    }


    .filmpage-inner-body {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $max-break-size) {
            flex-direction: column-reverse;
        }

        .filmpage-info {
            flex: 1;
            @media screen and (min-width: $break-size) {
                margin-right: 16px;
            }
            min-width: 20vw;
        }

        .video-container {
            flex: 2;

            .react-player-wrapper {
                position: relative;

                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    padding-top: (9 / 16) * 100%;
                }

                > div {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    .react-player-wrapper > div > div,
    .react-player-wrapper > div > div > iframe {
        max-height: 75vh !important;
    }
}