@import "variables";

$responsive-menu-font-size: 130%;

.nav-bar-container {
    display: flex;
    color: $menu-bar-text-color;
    justify-content: space-between;
    padding: $nav-padding $nav-padding 0 $nav-padding;
    text-transform: uppercase;

    input[type=checkbox]#show-menu {
        display: none;
    }

    input[type=checkbox]#show-menu:checked ~ .nav-bar {
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10000;
        display: flex;
        justify-content: space-evenly;

        li {
            font-size: 180%;
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (max-width: $break-size)
    {
        justify-content: center;
        flex-direction: column;
        margin-bottom: $nav-padding/2;

        a {
            display: flex;
            justify-content: center;
            padding-top: 2px;
        }

        label {
            text-align: center;
            font-size: $responsive-menu-font-size;

            span.fa {
                padding-left: 10px;
            }
        }
    }

    @media screen and (min-width: $break-size)
    {
        label {
            display: none;
        }
    }

    .nav-bar {
        text-decoration: none;
        margin-right: 0;
        margin-top: 1.2em;
        display: flex;
        padding: 0;

        .menu-icon {
            padding-left: 10px;
        }

        @media screen and (max-width: $break-size)
        {
            margin-top: 0;
            flex-direction: column;
        }

        li {
            text-align: center;

            @media screen and (max-width: $max-break-size) {
                display: none;
            }

            @media screen and (min-width: $break-size) {
                padding-left: 25px;
                display: inline;
            }

            a.active {
                color: $menu-bar-text-hover-color;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: $menu-bar-text-color;
                transition: all .2s ease-out;

                &:hover {
                    color: $menu-bar-text-hover-color;
                }
            }
        }
    }
}

.logo {
    font-size: 30px;
    align-self: center;

    img {
        @media screen and (max-width: $max-break-size) {
            width: $logo-width-less-than-break-size;
        }

        @media screen and (min-width: $break-size) {
            transform: translate(-10px,-10px);
            width: $logo-width;
        }
    }
}