@import "variables";

.testimonials-page-body {

    max-width: $max-width-center-page;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    p {
        font-size: 25px;
        margin-bottom: 50px;
        font-style: italic;

        span {
            font-size: 20px;
            font-style: normal;
            color: $menu-bar-text-hover-color;
            float: right;
        }
    }
}