/* Variables */
$break-size: 1000px;
$max-break-size: $break-size+1;
$ultra-small-screen: 410px;

$max-width-center-page: 1260px;

$nav-padding: 3vh;
$outer-body-padding: 3vh;

$text-color: white;
$text-hover-color: gray;

$menu-bar-text-color: white;
$menu-bar-text-hover-color: #C61D1D;

$video-opacity: 0.8;
$logo-width: 270px;
$logo-width-less-than-break-size: 30vh;
