@import "variables";
@import "scrollbar";
@import "nav";
@import "filmpage";
@import "testimonials";

html {
    color: $text-color;
    min-width: 400px;
}

body {
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: gray;

    margin: 0;
    font-family: 'Raleway', sans-serif;
}

@mixin bgelement {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: gray;
    background-size: cover;
    transition: 1s opacity;
    opacity: $video-opacity;
}

video#bgvid {
    @include bgelement();

    // @media screen and (max-width: $max-break-size) {
    //     display: none;
    // }
}

// img#home-img {
//     @include bgelement();

//     @media screen and (min-width: $break-size) {
//         display: none;
//     }
// }

.main-body {
    padding: 0 $outer-body-padding;
}

.home-body {
    color: $text-color;

    .home-overlay {
        text-transform: uppercase;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        #location-text {
            font-size: 4vw;
            margin-bottom: 4vw;
        }

        h2, h3 {
            text-align: center;
            font-size: 6vw;
            margin: 1vw 0;
        }

        .to-showreel-button-container {
            display: flex;
            justify-content: center;

            .to-showreel-button {
                text-decoration: none;
                color: $menu-bar-text-hover-color;
                font-size: 3vw;
                text-align: center;
                border: 4px solid $menu-bar-text-hover-color;
                padding: 10px 20px;
            }
        }
    }
}

.align-center {
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.about-image {
        max-width: 660px;
        flex-shrink: 1;
        width: 100%;
        margin-bottom: $nav-padding/4;
    }

    .about-text {
        text-align: justify;
    }
}

.disable-text-highlight {
    user-select: none;
}

.social {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);

    a {
        color: $text-color;
        padding-left: 1vw;
        padding-right: 1vw;
        text-decoration: none;

        &:hover {
            color: $menu-bar-text-hover-color;
        }
    }
}

.contact-page {
    display: flex;
    flex-direction: column;

    ul {
        li {
            text-decoration: none;
            width: 100%;
            text-align: center;
        }
    }

    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .contact-page-body {
        display: flex;
        flex-direction: row;

        .contact-page-logo {
            flex: 1;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .ways-to-contact {
            display: flex;
            flex-direction: column;
            flex: 1;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 1vw 5vw;

                a {
                    color: $text-color;
                    font-size: 24px;
                    text-decoration: none;

                    &:hover {
                        color: $menu-bar-text-hover-color;
                    }
                }
            }
        }

        @media screen and (max-width: $max-break-size) {
            flex-direction: column;

            .contact-page-logo {
                display: none;
            }
        }
    }
}

.page-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 26px;
    margin-top: 0.5em;
}

.showreel-page {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .video-js {
        position: static;
    }

    .back-button {
        z-index: 1000;
        position: fixed;
        top: 10px;
        left: 10px;
        text-decoration: none;
        color: gray;
    }
}

.award-page {

    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 80vh;
        display: block;
        margin: 0 auto;
    }

    .award-entry {
        max-width: $max-width-center-page;
        margin-top: 10px;
        margin: 0 auto;

        p {
            text-align: justify;
        }
    }
}