:root {
    --gaby-red: #c61d1d;
    --gaby-darker-red: #770000;
}

header h1,
header h2,
nav {
    text-transform: uppercase;
}

* {
    font-family: "Raleway", sans-serif;
}

body {
    min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px solid #ffffff;
    border-radius: 24px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    color: white;
}

.nested-links a {
    color: black;
}

.gaby-red {
    color: var(--gaby-red);
}

.gaby-darker-red {
    color: var(--gaby-darker-red)
}

.home-body .home-overlay {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: gray;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.8;
}

.home-body {
    color: white;
}

.home-body .home-overlay {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-body .home-overlay #location-text {
    font-size: 4vw;
    margin-bottom: 4vw;
}

.home-body .home-overlay h2,
.home-body .home-overlay h3 {
    text-align: center;
    font-size: 6vw;
    margin: 1vw 0;
}

.home-body .home-overlay .to-showreel-button-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-body .home-overlay .to-showreel-button-container .to-showreel-button {
    text-decoration: none;
    color: var(--gaby-red);
    font-size: 3vw;
    text-align: center;
    border: 4px solid var(--gaby-red);
    padding: 10px 20px;
}
